<%- include('header') %>
<div class="container-fluid content">
    <div class="row justify-content-center">
        <div class="col-sm-11 col-md-10 col-lg-8 col-xl-6 contentInner">
            <div class="row">
                <div class="contentbox-frame col-md-6 col-md-push-6">
                    <div class="contentbox">
                        <h4>Üdvözlünk!</h4>
                        <p>A <span class="font-weight-bold">LearnTogether</span> egy egyszerűen kezelhető, hatékony platform az iskolai feladatok kiadására, számontartására és rendszerezésére.</p>
                    </div>
                    <div class="contentbox">
                        <h4>Bejelentkezés</h4>
                        <div>
                            <form method="post" action="/auth/login" onsubmit="return login();">
                                <div class="form-group">
                                    <label for="loginEmail">Email cím</label>
                                    <input type="email" class="form-control" name="email" id="loginEmail" placeholder="minta@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="loginPassword">Jelszó</label>
                                    <input type="password" class="form-control" name="password" id="loginPassword" placeholder="Jelszó">
                                </div>
                                <div class="alert alert-danger" role="alert" id="loginAlert">
                                    Rossz email vagy jelszó!
                                </div>
                                <div class="form-group">
                                    <a href="#" class="small">Elfelejtett jelszó</a>
                                </div>
                                <button type="submit" class="btn btn-primary">Bejelentkezek</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="contentbox-frame col-md-6 col-md-pull-6">
                     <div class="contentbox">
                         <h4>Regisztráció</h4>
                         <div class="">
                             <form action="/auth/register" method="post" onsubmit="return registration();">
                                 <div class="form-group">
                                     <label for="firstname">Keresztnév</label>
                                     <input type="text" class="form-control" name="firstname" id="regFirstname" placeholder="Miklós">
                                     <div class="invalid-feedback">
                                         Nem adtál meg nevet!
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label for="lastname">Vezetéknév</label>
                                     <input type="text" class="form-control" name="lastname" id="regLastname" placeholder="Minta">
                                     <div class="invalid-feedback">
                                         Nem adtál meg nevet!
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label for="email">Email cím</label>
                                     <input type="email" class="form-control" name="email" id="regEmail" placeholder="minta@gmail.com" onblur="checkEmailConfirmation()">
                                     <div class="invalid-feedback">
                                         Ez az email cím már használatban van!
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label for="emailAgain">Email cím megerősítése</label>
                                     <input type="email" class="form-control" name="emailAgain" id="regEmailAgain" placeholder="minta@gmail.com" onblur="checkEmailConfirmation()">
                                     <div class="invalid-feedback">
                                         Nem egyezik a két email cím!
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label for="password">Jelszó</label>
                                     <input type="password" class="form-control" name="password" id="regPassword" placeholder="Jelszó" onblur="checkPasswordConfirmation()">
                                     <div class="invalid-feedback">
                                         Nem egyezik a két jelszó!
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label for="passwordAgain">Jelszó megerősítése</label>
                                     <input type="password" class="form-control" name="passwordAgain" id="regPasswordAgain" placeholder="Jelszó" onblur="checkPasswordConfirmation()">
                                     <div class="invalid-feedback">
                                         Nem egyezik a két jelszó!
                                     </div>
                                 </div>
                                 <div class="form-group container-fluid">
                                     <legend class="col-form-label row">Státusz</legend>
                                     <div class="row">
                                         <div class="form-check col-6 offset-1">
                                             <input class="form-check-input" type="radio" name="status" id="regStudentStatus" value="0" checked>
                                             <label class="form-check-label" for="studentStatus">
                                                 Tanuló
                                             </label>
                                         </div>
                                         <div class="form-check col-5">
                                             <input class="form-check-input" type="radio" name="status" id="regTeacherStatus" value="1">
                                             <label class="form-check-label" for="teacherStatus">
                                                 Tanár
                                             </label>
                                         </div>
                                     </div>
                                 </div>
                                 <label>Születésnap</label>
                                 <div class="form-row">
                                     <div class="form-group col-md-4">
                                         <select id="regDOByear" class="form-control" name="DOByear" >
                                             <option value="0" selected>Év</option>
                                             <% for (let i = 2018; i > 1900; --i) { %>
                                             <option value="<%= i %>>"><%= i %></option>
                                             <% } %>
                                         </select>
                                     </div>
                                     <div class="form-group col-md-4">
                                         <select id="regDOBmonth" class="form-control" name="DOBmonth">
                                             <option value="0" selected>Hónap</option>
                                             <% for (let i = 1; i < 13; ++i) { %>
                                             <option value="<%= i %>>"><%= i %></option>
                                             <% } %>
                                         </select>
                                     </div>
                                     <div class="form-group col-md-4">
                                         <select id="regDOBday" class="form-control" name="DOBday">
                                             <option value="0" selected>Nap</option>
                                             <% for (let i = 1; i < 32; ++i) { %>
                                             <option value="<%= i %>>"><%= i %></option>
                                             <% } %>
                                         </select>
                                     </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary">Regisztrálok</button>
                             </form>
                         </div>
                     </div>
                 </div>
            </div>
<%- include('footer') %>