<%- include('../header') %>
<%- include('../leftPanel') %>
<div class="col-md-9 contentbox-frame">
    <%- include('../groups/header') %>
    <div class="contentbox">
        <%- include('../groups/nav') %>
        <div class="container">
            <div class="row">
                <div class="contentbox-frame col-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/profile.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Minta Miklós</h5>
                        </div>
                    </div>
                </div>
                <div class="contentbox-frame col-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/profile.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Másik Marcell</h5>
                            <a href="#" class="card-link text-danger">Eltávolítás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>