<%- include('../header') %>
<%- include('../leftPanel') %>
<div class="col-md-9 contentbox-frame">
    <%- include('../groups/header') %>
    <div class="contentbox">
        <%- include('../groups/nav') %>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4>Teendő hozzáadása</h4>
                    <div class="contentbox-frame">
                        <%- include('../groups/forms/addTaskForm') %>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Tag hozzáadása</h4>
                    <div class="contentbox-frame">
                        <a href="/groups/<%= actGroup.url_id %>/members/add"><button type="button" class="btn btn-secondary">Hozzáadás listából</button></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <%- include('../groups/forms/changeInfoForm') %>
            </div>
            <hr>
            <div class="row justify-content-center">
                <form method="post" action="/groups/<%= actGroup.url_id %>/delete" onsubmit="return confirm('Biztosan törlöd a csoportot? A művelet nem vonható vissza!')">
                    <button type="submit" class="btn btn-danger">Csoport törlése</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>